.experience_section .images{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height:100vh;
  /* gap:25px; */
  --size-factor: 1.25;
  --item-height: 20vh;
}

.experience_section .image_col{
  width: auto;
  aspect-ratio: 2 / 3;
  background-position: 50% 50%;
  background-size: cover;
  flex: none;
  border-radius: 0;
  /* transition: all 0.3s ease-in-out; */
}

.experience_section .image_col:nth-child(1){
  /* background-image: url(https://www.zecchinon.com/img/homepage/zecchinon-cucine-img1-L.webp); */
}

.experience_section .image_col:nth-child(2){
  /* background-image: url(https://www.zecchinon.com/img/homepage/zecchinon-cucine-img2-L.webp); */
}

.experience_section .image_col:nth-child(3){
  /* background-image: url(https://www.zecchinon.com/img/homepage/zecchinon-cucine-img3-L.webp); */
  height: calc(var(--size-factor) * 3 * var(--item-height));
  filter:brightness(1)
}

.experience_section .image_col:nth-child(4){
  /* background-image: url(https://www.zecchinon.com/img/homepage/zecchinon-cucine-img4-L.webp); */
}

.experience_section .image_col:nth-child(5){
  /* background-image: url(https://www.zecchinon.com/img/homepage/zecchinon-cucine-img5-L.webp); */
}

.experience_section .image_col:nth-child(1),
.experience_section .image_col:nth-child(5){
  height: calc(var(--size-factor) * var(--item-height));
}

.experience_section .image_col:nth-child(2),
.experience_section .image_col:nth-child(4){
  height: calc(var(--size-factor) * 2 * var(--item-height));
}

/* .experience_section .image_col:nth-child(3){
  flex-grow:3
} */  



.project_sec{
  height:100vh;
}

.project_sec .bg_img{
  height:100%;
  object-fit: cover;
}

.project_sec:before{
  content: "";
  background-image: linear-gradient(182deg, rgba(0, 0, 0, 0), rgb(0, 0, 0, 0.7), #000);
  width: 100%;
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.township_projects_section .dots li{
  height:10px;
  width:10px;
  background:#ddd;
}