.cat_carousel_item {flex-basis: 7%;transition: flex-basis 0.7s ease-in-out;}
.cat_carousel_item.active {flex-basis: 70%;}
@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {animation: fade-in-up 0.5s ease forwards;}
.cat_carousel_item .text-primaryred {color: black;}