@import "tailwindcss";

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  margin: 0;
  position: relative;
}

button,
a,
select {
  cursor: pointer;
}

.swiper-container {
  overflow-x: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  color: #1e40af;
  width: 30px;
  height: 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

@font-face {
  font-family: "SangBleuSans";
  src: url("/assets/fonts/sangbleu-sans-regular.ttf") format("truetype");
}

@font-face {
  font-family: "StringFree";
  src: url("/assets/fonts/stringfree.otf") format("truetype");
}

.font-sangbleu {
  font-family: "SangBleuSans", sans-serif;
}

.font-stringfree {
  font-family: "StringFree";
}

@keyframes expandFadeIn {
  0% {
    opacity: 0;
    width: 0px;
  }

  100% {
    opacity: 1;
    width: 512px;
  }
}

.animate-expand {
  animation: expandFadeIn 1.2s ease-in-out forwards;
}

.wrapper {
  padding-inline: 20px;
  padding-block: 40px;
}

.wrapper2 {
  padding-inline: 20px;
  padding-top: 40px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.72) 1.05%,
      rgba(148, 147, 147, 0) 35.82%);
}

/* In your global CSS or Tailwind config */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-primaryred {
  color: #b3162f;
}

.text-primaryblue {
  color: #263a7f;
}

.bg-primaryblue {
  background-color: #263a7f;
}

.platter_slider .swiper-slide {
  width: fit-content !important;
}


/* blog & career & slider ctrl btns */
.carousel-control .swiper-button-next,
.carousel-control .swiper-button-prev {
  position: relative;
  bottom: 80px;
  margin-bottom: 0 !important;
  right: 0;
  left: inherit !important;
  margin: 0 auto;
  margin-right: 0;
  width: 50px;
  z-index: 2;
  background: url('/assets/next.png') no-repeat;
}

.carousel-control .swiper-button-prev {
  bottom: 36px;
  right: 50px;
  background: url('/assets/prev.png') no-repeat;
}

.carousel-control .swiper-button-prev:after,
.carousel-control .swiper-button-next:after {
  display: none;
}

.myCareerlider .swiper-button-next {
  bottom: 15px;
}

.myCareerlider .swiper-button-prev {
  bottom: -30px;
}

@media (width >=64rem
  /* 1024px */
) {
  .wrapper {
    padding-inline: 100px;
    padding-block: 100px;
  }

  .wrapper2 {
    padding-inline: 100px;
    padding-top: 100px;
  }
}