/* Custom Scrollbar */
.scrollable-content {
  overflow-x: scroll;  
  -webkit-overflow-scrolling: touch !important; 
  cursor: grabbing;
}

.scrollable-content::-webkit-scrollbar {
  height: 5px; 
}

.scrollable-content::-webkit-scrollbar-track {
  background: #b316305a !important; 
  border-radius: 5px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: #b3162f !important;  
  border-radius: 5px; 
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background: #9e0f25 !important; 
}
